<div class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for('main.index') }}">
            <img width="36" src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{{ url_for('main.index') }}">
              Home
          </a>
    
          <a class="navbar-item" href="{{ url_for('main.blog') }}">
              Blog
          </a>
    
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="{{ url_for('main.about') }}">
                About
              </a>
              <a class="navbar-item" href="{{ url_for('main.contact') }}">
                Contact
              </a>
              <a class="navbar-item" href="{{ url_for('main.subscribe') }}">
                Subscribe
            </a>
            </div>
          </div>
        </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            {% if current_user.is_authenticated %}
              <div class="navbar-item">
                <p>Hola, {{ current_user.username }}!</p>
              </div>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  More
                </a>
                <div class="navbar-dropdown">
                  <a class="navbar-item" href="{{ url_for('author.new_post') }}">
                      New Post
                  </a>
                  <a class="navbar-item" href="{{ url_for('admin.register') }}">
                      Register new user
                  </a>
                  <a class="navbar-item" href="{{ url_for('admin.contact_messages') }}">
                      Contact messages
                  </a>
                  <a class="navbar-item" href="{{ url_for('admin.send_newsletter_route') }}">
                    Send a newsletter
                  </a>
                </div>
              </div>
              <div class="navbar-item">
                <a class="button is-warning" href="{{ url_for('auth.logout') }}">Cerrar sesión</a>
              </div>
            {% else %}
              <a class="button is-primary"  href="{{ url_for('auth.login') }}">
                Log in
              </a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </div>