{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="title is-1">Nuevo Post</h1>
    <p class="subtitle is-4">¡Creemos nuevo contenido!</p>
</div>
<div class="container is-max-desktop">
    <div class="section">
        <form action="" method="post" class="box">
            {{ form.hidden_tag() }}
            <div class="field">
                <label class="label">{{ form.title.label }}</label>
                <div class="control">
                    {{ form.title(class="input", type="text", placeholder="Un título atractivo para tu post") }}
                </div>
            </div>
            <div class="field">
                <label class="label">{{ form.content.label }}</label>
                <div class="control">
                    {{ form.content(id="content", class="textarea custom-textarea", placeholder="Contenido del post (puede incluir HTML)", style="width: 100%; height: 300px;") }}
                </div>
            </div>
            <div class="field">
                <label class="label">{{ form.publish_date.label }}</label>
                <div class="control">
                    {{ form.publish_date(class="input", type="datetime-local") }}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{ form.submit(class="button is-primary is-fullwidth", type="submit") }}
                </div>
            </div>
        </form>
    </div>
</div>
{% include 'partials/_macros.html' %}
{% endblock %}