{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<section class="section">
    <div class="container">
      <section class="hero is-danger is-bold">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              ERROR 404 - Página no encontrada
            </h1>
            <h2 class="subtitle">
              Lo sentimos, pero parece que la página que estás buscando no existe.
            </h2>
          </div>
        </div>
      </section>
      <div class="section">
        <div class="container">
          <a class="button is-info" href="{{ url_for('main.index') }}">¿Regresar al inicio?</a>
        </div>
      </div>
    </div>
</section>
{% endblock %}