{% extends "base.html" %}
{% block content %}
<div class="container is-max-desktop">
    <div class="section is-medium">
        <h1 class="title is-2">Mensajes de Contacto</h1>
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Nombre</th>
                    <th>Correo Electrónico</th>
                    <th>Asunto</th>
                    <th>Mensaje</th>
                </tr>
            </thead>
            <tbody>
                {% for message in messages %}
                <tr>
                    <td>{{ message.date_sent.strftime('%d %b %Y %H:%M') }}</td>
                    <td>{{ message.name }}</td>
                    <td>{{ message.email }}</td>
                    <td>{{ message.subject }}</td>
                    <td>{{ message.message }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
