{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="title is-1">Editar Post</h1>
    <p class="subtitle is-4">¡Creemos nuevo contenido!</p>
</div>
<div class="container is-max-desktop">
    <div class="section">
        <form action="" method="post" class="box">
            {{ form.hidden_tag() }}
            <div class="field">
                <label class="label">{{ form.title.label }}</label>
                <div class="control">
                    {{ form.title(class="input", type="text", placeholder="Un título atractivo para tu post") }}
                </div>
            </div>
            <div class="field">
                <label class="label">{{ form.content.label }}</label>
                <div class="control">
                    {{ form.content(class="textarea custom-textarea", style="width: 100%; height: 300px;", placeholder="Contenido del post (puede incluir HTML)") }}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{ form.submit(class="button is-primary is-fullwidth", type="submit") }}
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Script de SimpleMDE -->
<script>
    var simplemde = new SimpleMDE({ 
        element: document.getElementById("content"),
        spellChecker: false,
        toolbar: ["bold", "italic", "strikethrough", "heading", "|", "quote", "unordered-list", "ordered-list", "|", "link", "image", "|", "preview", "side-by-side", "fullscreen"]
    });
</script>
{% endblock %}
