{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<section class="hero is-primary">
    <div class="hero-body">
        <p class="title">Sobre el autor</p>
        <p class="subtitle">Tu nombre</p>
    </div>
</section>
<div class="section">
    <div class="container is-widescreen">
        <div class="block">
            <div class="content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis finibus nisl. Vestibulum bibendum arcu eget volutpat luctus. Sed bibendum dictum justo, eu tristique lacus condimentum ut. Suspendisse egestas vel sem in volutpat. Pellentesque lobortis a elit id commodo. Proin imperdiet nulla ut porta maximus. Integer bibendum tortor augue, a semper est commodo tristique. Cras dictum justo a turpis vestibulum sollicitudin at vitae mauris. Fusce pellentesque elementum maximus. Quisque blandit lectus a leo hendrerit facilisis.
                </p>
                <p>
                    In ornare dictum dui, eget imperdiet mauris lobortis semper. Fusce semper est sed ipsum tempor interdum. Quisque in velit ac massa malesuada luctus at in augue. Phasellus vehicula faucibus nunc id viverra. Fusce luctus rhoncus risus a gravida. In est mi, volutpat dapibus bibendum vel, pellentesque nec dui. Fusce nec velit hendrerit metus vulputate ullamcorper in in libero. Curabitur blandit et nisl eu malesuada. Pellentesque efficitur mi tincidunt, efficitur nisl quis, pulvinar lacus. Fusce est urna, consectetur sit amet nunc ac, interdum malesuada est. Phasellus vulputate sodales ex, ut faucibus leo placerat et. Maecenas rhoncus ornare nisi quis ornare. Integer eget urna ut nisl sollicitudin rutrum. Integer quis arcu sagittis, sodales urna non, dapibus erat. Sed condimentum nisi sapien, vitae commodo justo tincidunt non. Fusce convallis sed erat vehicula feugiat.
                </p>
                <p>
                    Ut arcu lorem, semper consectetur vehicula sit amet, congue ut urna. Morbi id sagittis eros, at pellentesque purus. Integer dictum erat et massa porttitor interdum. Aenean faucibus nisi sed enim iaculis rutrum. Nullam risus velit, rhoncus nec accumsan vitae, tincidunt ac leo. Pellentesque auctor lectus ac leo scelerisque, nec ullamcorper ex suscipit. Morbi laoreet ut diam non pharetra. Donec ac tortor porta, varius ipsum at, scelerisque eros. Praesent nec libero vel est pharetra auctor porttitor ac arcu. Integer vitae sodales tellus, malesuada scelerisque lacus. Maecenas suscipit neque et orci bibendum, pulvinar elementum magna ornare. Aliquam nec nisl dolor. Mauris ut nisi orci. Nam sit amet interdum odio. Cras vehicula augue sed orci lacinia, ac semper nibh feugiat.
                </p>
                <p>
                    Aliquam ac faucibus elit. Nulla vitae sapien gravida, ultrices ex a, laoreet sem. Curabitur ac orci pharetra, placerat leo quis, rhoncus purus. Proin posuere ut ante vel tempus. Quisque consectetur commodo elementum. Maecenas hendrerit arcu in nulla consequat, et congue felis porta. Ut porta lobortis mi id commodo.
                </p>
                <p>
                    Quisque lectus justo, posuere a diam ac, suscipit ornare sapien. Mauris diam ante, malesuada ut felis sit amet, efficitur eleifend nisi. Ut non est felis. Curabitur tincidunt feugiat quam, nec tempor dolor sagittis id. Mauris tempor, sapien ac aliquam laoreet, nibh velit suscipit tellus, id porttitor purus dolor at nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed condimentum dolor nec est euismod, vel convallis purus egestas. Nullam interdum, purus non mollis hendrerit, justo nunc blandit magna, id ultrices quam tortor vitae turpis. Nam gravida fermentum ipsum, a tincidunt ante viverra vitae. Fusce eget dui a urna volutpat molestie. Vestibulum efficitur magna ac erat rhoncus congue.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
