{% extends 'mail/base.html' %}

{% block title %}Restablecer contraseña{% endblock %}

{% block header %}Restablecer tu contraseña{% endblock %}

{% block content %}
<p>Hola {{ username }},</p>
<p>Para restablecer tu contraseña, haz clic en el siguiente enlace:</p>

<a href="{{ url_for('auth.reset_password', token=token, _external=True) }}" class="button">Restablecer contraseña</a>

<p>Si no lo solicitaste, ignora este correo electrónico.</p>
<p>El equipo de seguridad de {{ app_name }}</p>
{% endblock %}